﻿@model IEnumerable<SMSService.Models.BulkSMSNumberList>
@{
    int a = 1;
}

@if (!Model.Any())
{
    <div class="card">
        <p style="font-weight: bolder; text-align: center; color: red;"> No Data Found!</p>
    </div>
}
else
{
    <div style="margin-bottom:10px;">
        <a title="Excel File Download" style="margin-left: 5px;" onclick="DownloadExcelFile()" class="btn-sm btn-default pull-right"><i class="fa fa-file-excel-o"></i>&nbsp;Excel</a>
        <a title="Excel File Download" style="margin-left: 5px;" onclick="DownloadCSVFile()" class="btn-sm btn-default pull-right"><i class="fa fa-download"></i>&nbsp;Text</a>
    </div>
    <table id="MyDataTable" class="display" style="width: 100%">
        <thead class="btn-success">
            <tr>
                <th>#</th>
                <th>Mobile Number</th>
                <th>EntryDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(a++)</td>
                    <td>@item.MobileNumber</td>
                    <td>@item.EntryDate</td>
                    <td>

                        <a href="#/" class="btn btn-warning" onclick="GroupNumberEdit(@item.ID)" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                        <a href="#/" class="btn btn-danger" onclick="GroupNumberDelete(@item.ID, '@item.MobileNumber')" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>


                    </td>
                </tr>

            }
            
        </tbody>
    </table>
}

<script type="text/javascript" language="javascript" class="init">


    $(document).ready(function() {
        $('#MyDataTable').DataTable();
    } );


</script>
