﻿
@{
    ViewBag.Title = "List Show";
    Layout = "~/Views/Shared/Sms_Layout.cshtml";
}
<style>
    .wrapper-content {
        padding: 10px 10px 10px;
    }
</style>
<!----------------------Loader Image------------------------------------>
<div style="z-index: 101; width: 100%; height: 100%; background-color: rgba(40, 30, 20, 0.4); position: absolute; text-align: center; display: none;" id="loaderImageDiv">
    <img style="width: 80px; position: absolute; z-index: 102; height: 80px; left: 40%; top: 35%;" src="~/Content/image/InternetSlowdown_Day.gif" />
</div>
<!------------------------------Menue Start--------------------------------->
<div style="width: 100%; margin:2px auto; " class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-right:6%;">
        <div class="col-md-7">
            <ol class="breadcrumb">
                <li>
                    <a>Group Setup</a>
                </li>
                <li class="active">
                    <b>GroupNamewiseList</b>
                </li>
            </ol>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>
<!------------------------------Menue End--------------------------------->
<!------------------------------Main Body Start--------------------------->
<div style="width: 85%; margin: 0 auto" class="wrapper wrapper-content animated fadeInRight">
    <div class="row well">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            @Html.DropDownList("listNameId", new SelectList(ViewBag.GroupName, "ListNameID", "ListName"), "--Select List --", new {@class = "form-control", @onchange = "ListNameOnChange()"})
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div id="resultList"></div>
    </div>
</div>

<!--Modal Start-->


<div class="modal fade" id="EditModalShow" role="dialog">
    <div style="border-radius: 10px; width:50%;" class="modal-dialog modal-md">
        <div style="background-color: white;" class="modal-content">
            <div class="modal-header">
                <label style="font-size: 20px;" id="ModalTitle"></label>
                <a href="#" data-dismiss="modal" class="pull-right" style="color: #dcdcdc"><i class="fa fa-times"></i></a>
            </div>
            <div id="EditModalResult" class="modal-body">
                Test
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteModalShow" role="dialog">
    <div style="border-radius: 10px; width:50%;" class="modal-dialog modal-md">
        <div style="background-color: white;" class="modal-content">
            <div class="modal-header">
                <label style="font-size: 20px;" id="ModalTitle"></label>
                <a href="#" data-dismiss="modal" class="pull-right" style="color: #dcdcdc"><i class="fa fa-times"></i></a>
            </div>
            <div class="modal-body">
                <input type="hidden" id="GroupListItemIdHidden"/>
                <span style="font-size: 18px;font-weight:bold">Are you sure to delete <span id="GroupnumberSapn"></span> from List?</span>
            </div>
            <div class="modal-footer">
                <a onclick="DeleteConfirm()"  class="btn btn-warning">OK</a>
                <a href="#" data-dismiss="modal" class="btn btn-danger" >Cancel</a> 
            </div>
        </div>
    </div>
</div>


<!--Modal End-->

<!---------------------------------Script Start----------------------------------->

@section scriptsMenu{
    <script>

        $(document).ready(function () {

            if ($("#GroupSMSMainMenu").length > 0) {
                $("#GroupSMSMainMenu").addClass("active");
                $("#GroupNamewiseListSubmnue").attr("class", "active");

            }


        });

    </script>
}


@section scripts
{

    <script>

        function ListNameOnChange() {
            var id = $("#listNameId").val();
            $("#loaderImageDiv").show();
            if (id != "") {
                $.ajax({
                    type: "GET",
                    url: "/GroupList/GroupNamewiseListPartialView",
                    data: { listNameId: id },
                    success: function (response) {
                        //alert(response);
                        $("#loaderImageDiv").hide();
                        $("#resultList").html("");
                        $("#resultList").append(response);
                        //$("#loaderImageDiv").hide();
                    }
                });
            }
        }

        function GroupNumberEdit(id) {
            if (id != "") {
                $.ajax({
                    type: "GET",
                    url: "/GroupList/GroupNamewiseListEditPartialView",
                    data: { id: id },
                    success: function (response) {
                        //alert(response);
                        $("#EditModalResult").html("");
                        $("#EditModalResult").append(response);
                        //$("#loaderImageDiv").hide();
                    }
                }).then($("#EditModalShow").modal("show"));
            }

          
        }
        function GroupNumberDelete(id, number) {
            var a = number.toString();
           // alert(a);
            $("#GroupListItemIdHidden").val("");
            $("#GroupListItemIdHidden").val(id);

            $("#GroupnumberSapn").html("");
            $("#GroupnumberSapn").append(a);
            
            $("#DeleteModalShow").modal("show");

        }
        function DeleteConfirm(){
            var gid = $("#GroupListItemIdHidden").val();
        
            if (gid != "") {
                $.ajax({
                    type: "GET",
                    url: "/GroupList/GroupItemDelete",
                    data: { id: gid },
                    success: function (response) {
                        $("#DeleteModalShow").modal("hide");
                        alert(response);
                        ListNameOnChange();
                    }
                });
            }


        }
        //======================Download Excel file =========================
        function DownloadExcelFile() {
            var id = $("#listNameId").val();
            //alert(id);
            if (id != "") {
                $.ajax({
                    type: "GET",
                    url: "/GroupList/DownloadList",
                    data: { listNameId: id, type:"Excel" },
                    success: function (response) {
                        if (response != "") {
                            alert(response);
                        }
                       
                        
                    }
                });
            }
        }
        //======================Download CSV file =========================
        function DownloadCSVFile() {
            var id = $("#listNameId").val();
            //alert(id);
            if (id != "") {
                $.ajax({
                    type: "GET",
                    url: "/GroupList/DownloadList",
                    data: { listNameId: id, type: "CSV" },
                    success: function (response) {
                        if (response != "") {
                            alert(response);
                        }


                    }
                });
            }
        }
    </script>
}
