﻿@model IEnumerable<SMSService.Models.BulkSMSListName>
@{
    int a = 1;
}
@if (Model.Any())
{
    <table class="display" id="listNameTable">
        <thead class="btn-success">
            <tr >
                <th>#</th>
                <th>List Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@(a++)</td>
                    <td>@i.ListName</td>
                    <td>
                        <a href="#" class="btn btn-warning" title="Edit" onclick="EditList(@i.ListNameID)"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="#" class="btn btn-danger" title="Delete" onclick="DeleteList(@i.ListNameID,'@i.ListName')"><i class="glyphicon glyphicon-trash"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <p style="color: red; text-align: center;">No Data Found!</p>
    </div>
}

<script type="text/javascript" language="javascript" class="init">


    $(document).ready(function () {
        $('#listNameTable').DataTable();
    });


</script>