﻿@model IEnumerable<SMSService.ViewModel.SMSSendVm>
@{
    int a = 1;
}
@*<link href="~/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet"/>
<link href="~/DataTables-1.10.18/css/shCore.css" rel="stylesheet"/>
<link href="~/DataTables-1.10.18/css/demo.css" rel="stylesheet" />*@

    @if (!Model.Any())
    {
        <div class="card">
            <p style="font-weight: bolder; text-align: center; color: red;"> No Data Found!</p>
        </div>
    }
    else
    {
        @*<div class="demo-html"></div>*@
        <table id="MyDataTable" class="display" style="width: 100%">
            <thead class="btn-success">
                <tr>
                    <th>#</th>
                    <th>Mobile Number</th>
                    <th>Message</th>
                    <th>SMS Source</th>
                    <th>EntryDate</th>
                    <th>Sending Time</th>
                    <th id="actionColumn">Action</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(a++)</td>
                    <td>@item.MobileName</td>
                    <td>@item.Message</td>
                    <td>@item.SMSSource</td>
                    <td>@item.Entrydate</td>
                    <td>@item.SendingTime</td>
                    <td>
                        @if (item.Issend == 3)
                        {
                            <a href="#" class="btn btn-primary" title="Resend" onclick="ResendFunc(@item.ID)"><i class="fa fa-send"></i></a>
                            <a href="#" class="btn btn-danger" title="Delete" onclick="DeleteFunc(@item.ID,'@item.MobileName')"><i class="fa fa-trash"></i></a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }


@*<script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/DataTables-1.10.18/js/shCore.js"></script>
<script src="~/DataTables-1.10.18/js/demo.js"></script>*@
<script type="text/javascript" language="javascript" class="init">


$(document).ready(function() {
    $('#MyDataTable').DataTable();
} );


</script>