﻿
@{
    ViewBag.Title = "Add File";
    Layout = "~/Views/Shared/Sms_Layout.cshtml";
}



<style>
    .wrapper-content {
        padding: 10px 10px 10px;
    }

    .color {
        background-color: white;
        color: black;
    }
</style>
<!----------------------Loader Image------------------------------------>
<div style="z-index: 101; width: 100%; height: 100%; background-color: rgba(40, 30, 20, 0.4); position: absolute; text-align: center; display: none;" id="loaderImageDiv">
    <img style="width: 80px; position: absolute; z-index: 102; height: 80px; left: 40%; top: 35%;" src="~/Content/image/InternetSlowdown_Day.gif" />
</div>
<!------------------------------Menue Start--------------------------------->
<div style="width: 100%; margin:2px auto; " class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-right:6%;">
        <div class="col-md-7">
            <ol class="breadcrumb">
                <li>
                    <a>Bulk SMS</a>
                </li>
                <li class="active">
                    <b>Bulk SMS List Number</b>
                </li>
            </ol>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>
<!------------------------------Menue End--------------------------------->
<!------------------------------Main Body Start--------------------------->
<div style="width: 85%; margin: 0 auto" class="wrapper wrapper-content animated fadeInRight">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="addFileBtn" class="btn btn-secondary" value="addFile" onclick="AddFile()">Add File</button>
        <button type="button" id="addNumberBtn" class="btn btn-secondary" value="addNumber" onclick="AddNumber()">Add Number</button>
    </div><br /><br />

    <div id="SuccessOrErrorMessageDiv" style="text-align: center;">
        <label id="successMassage" style="font-size: 20px;" class="label label-success">@TempData["successMassage"]</label>
        <label id="ErrorMassage" style="font-size: 20px;" class="label label-danger">@TempData["ErrorMassage"]</label>
    </div>

    <!--Add CSV/TXT File Part-->
    <div id="FileAddDiv" class="form-horizontal">
        @using (Html.BeginForm("BulkSMSNumberListEntry", "BulkSMS", FormMethod.Post, new { id = "bulkSmsNumberfileEntry", enctype = "multipart/form-data" }))
        {
            <div class="row well">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label class="col-md-3">List Name</label>
                        <div class="col-md-9 form-group">
                            @Html.DropDownList("listNameFId", new SelectList(ViewBag.ListName, "ListNameID", "ListName"), "Select List Name", new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row" id="uploadFileDiv">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label class="col-md-3">Choose File</label>
                        <div class="col-md-9 form-group">
                            <input type="file" class="form-control" name="smsNumberFile" id="smsNumberFile"/>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-4" style="margin-left: 59%;">
                        <a class="btn  btn-default" id="btnClear" onclick="AllClear()"><i class="fa fa-refresh">&nbsp;</i>Refresh</a>
                        <button type="submit" class="btn btn-primary" id="saveButton"><i class="fa fa-save">&nbsp;&nbsp;</i>Save</button>
                    </div>
                </div>
            </div>
        }
    </div>

    <!--Add Mobile Number Part-->
    <div id="MobileNumberAddDiv" class="form-horizontal" style="display: none;">
        @using (Html.BeginForm("BulkSMSNumberListEntry", "BulkSMS", FormMethod.Post, new { id = "bulkSmsNumberListEntry", enctype = "multipart/form-data" }))
        {
            <div class="row well">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label class="col-md-3">List Name</label>
                        <div class="col-md-9 form-group">
                            @Html.DropDownList("listNameNId", new SelectList(ViewBag.ListName, "ListNameID", "ListName"), "Select List Name", new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row" id="uploadFileDiv">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label class="col-md-3">Mobile Number</label>
                        <div class="col-md-9 form-group">
                            <input type="text" id="mobileNumber" name="mobileNumber" class="form-control" placeholder="Enter Mobile Number"/>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-4" style="margin-left: 59%;">
                        <a class="btn  btn-default" id="btnClear" onclick="AllClear()"><i class="fa fa-refresh">&nbsp;</i>Refresh</a>
                        <button type="submit" class="btn btn-primary" id="saveButton"><i class="fa fa-save">&nbsp;&nbsp;</i>Save</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!---------------------------------Script Start----------------------------------->

@section scriptsMenu{
    <script>

        $(document).ready(function () {

            if ($("#GroupSMSMainMenu").length > 0) {
                $("#GroupSMSMainMenu").addClass("active");
                $("#AddFileSubmnue").attr("class", "active");

            }


        });

    </script>
}


@section scripts
{

    <script>
        $(document).ready(function () {
            $("#loaderImageDiv").hide();
            AddFile();
        });

        function AddColor(btnValue) {
            if (btnValue == "addFile") {
                $("#addNumberBtn").removeClass('color');
                $("#addFileBtn").addClass('color');
            }
            if (btnValue == "addNumber") {
                $("#addFileBtn").removeClass('color');
                $("#addNumberBtn").addClass('color');
            }
        }

        $("#bulkSmsNumberListEntry").submit(function (e) {
            var mobileNumber = $("#mobileNumber").val();
            var listNameId = $("#listNameNId").val();

            if (listNameId == "") {
                alert("Please Select Mobile Number List Name");
                $("#listNameNId").focus();
                e.preventDefault();
            } else if (mobileNumber == "") {
                alert("Please Enter Mobile Number");
                $("#mobileNumber").focus();
                e.preventDefault();
            }
            $("#loaderImageDiv").show();
        });

        $("#bulkSmsNumberfileEntry").submit(function (e) {
            var fileLoader = $("#smsNumberFile").val();
            var listNameId = $("#listNameFId").val();

            if (listNameId == "") {
                alert("Please Select Mobile Number List Name");
                $("#listNameFId").focus();
                e.preventDefault();
            } else if (fileLoader == "") {
                alert("Please Upload CSV/TXT file");
                $("#smsNumberFile").focus();
                e.preventDefault();
            }
            $("#loaderImageDiv").show();
        });


        function AddFile() {
            var btnValue = $("#addFileBtn").val();
            AddColor(btnValue);
            $("#MobileNumberAddDiv").hide();
            $("#FileAddDiv").show();


        } function AddNumber() {
            var btnValue = $("#addNumberBtn").val();
            AddColor(btnValue);
            $("#FileAddDiv").hide();
            $("#MobileNumberAddDiv").show();

        }

        $("#SuccessOrErrorMessageDiv").toggle(3000);

        function AllClear() {
            $("#listNameFId").val("");
            $("#listNameNId").val("");
            $("#mobileNumber").val("");
            $("#smsNumberFile").val("");
        }
    </script>
}