﻿@model SMSService.Models.BulkSMSListName
@{
    ViewBag.Title = "Group Name";
    Layout = "~/Views/Shared/Sms_Layout.cshtml";
}


<style>
    .wrapper-content {
        padding: 10px 10px 10px;
    }
</style>
<!----------------------Loader Image------------------------------------>
<div style="z-index: 101; width: 100%; height: 100%; background-color: rgba(40, 30, 20, 0.4); position: absolute; text-align: center; display: none;" id="loaderImageDiv">
    <img style="width: 80px; position: absolute; z-index: 102; height: 80px; left: 40%; top: 35%;" src="~/Content/image/InternetSlowdown_Day.gif" />
</div>
<!------------------------------Menue Start--------------------------------->
<div style="width: 100%; margin:2px auto; " class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-right:6%;">
        <div class="col-md-7">
            <ol class="breadcrumb">
                <li>
                    <a>Bulk SMS</a>
                </li>
                <li class="active">
                    <b>Bulk SMS List Entry</b>
                </li>
            </ol>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>
<!------------------------------Menue End--------------------------------->
<!------------------------------Main Body Start--------------------------->
<div style="width: 85%; margin: 0 auto" class="wrapper wrapper-content animated fadeInRight">
    <div id="SuccessOrErrorMessageDiv" style="text-align: center;">
        <label id="successMassage" style="font-size: 20px;" class="label label-success">@TempData["successMassage"]</label>
        <label id="ErrorMassage" style="font-size: 20px;" class="label label-danger">@TempData["ErrorMassage"]</label>
    </div>
    @using (Html.BeginForm("BulkSmsListEntry", "BulkSMS", FormMethod.Post, new { id = "bulkSmsListEntry" }))
    {
        <div class="row well">
            <div class="col-md-7">
                <label class="col-md-4">SMS List Name</label>
                <div class="col-md-8">
                    <input type="text" id="listName" name="listName" class="form-control" placeholder="SMS List Name" />
                </div>
            </div>
            <div class="col-md-5">
                <input type="submit" name="btnSave" class="btn btn-primary" id="saveButton" value="Submit" />
                <button type="button" class="btn btn-default" onclick="ClearFunc()"><i class="fa fa-refresh">&nbsp;</i>Refresh</button>
            </div>
        </div>

    }
    <br />
    <div id="LoadPartialView"></div>

</div>

<!--Modal Start-->

<div class="modal fade" id="DeleteModalShow" role="dialog">
    <div style="border-radius: 10px; width:50%;" class="modal-dialog modal-md">
        <div style="background-color: white;" class="modal-content">
            <div class="modal-header">
                <label style="font-size: 20px;" id="ModalTitle"></label>
                <a href="#" data-dismiss="modal" class="pull-right" style="color: #dcdcdc;"><i class="fa fa-times"></i></a>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ListItemIdHidden" />
                <span style="font-size: 18px; font-weight: bold; color: red;">Are you sure to delete "<span id="GroupNameSapn" style="color: black;"></span><span style="color: black;">&nbsp;&amp;&nbsp;Numbers</span>" from List?</span>
            </div>
            <div class="modal-footer">
                <a onclick="DeleteConfirm()" class="btn btn-warning">OK</a>
                <a href="#" data-dismiss="modal" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!---------------------------------Script Start----------------------------------->

@section scriptsMenu{
    <script>

        $(document).ready(function () {

            if ($("#GroupSMSMainMenu").length > 0) {
                $("#GroupSMSMainMenu").addClass("active");
                $("#AddGroupNameSubmnue").attr("class", "active");

            }


        });

    </script>
}


@section scripts
{

    <script>
        $(document).ready(function () {
            loadBulkSmsList();
        });
        $("#SuccessOrErrorMessageDiv").toggle(3000);

        $("#bulkSmsListEntry").submit(function (e) {
            var listName = $("#listName").val();
            if (listName == "") {
                alert("Please Enter SMS List Name");
                $("#listName").focus();
                e.preventDefault();
            }
        });

        function loadBulkSmsList() {
            $("#loaderImageDiv").show();
            $('#listNameTable').DataTable();
            $.ajax({
                type: "GET",
                url: "/BulkSMS/LoadBulkSmsListName",
                success: function (response) {
                    //alert(response);
                    $("#loaderImageDiv").hide();
                    $("#LoadPartialView").html("");
                    $("#LoadPartialView").append(response);
                }
            });
        }

        function EditList(id) {
            $.ajax({
                type: "GET",
                data: { id: id },
                url: "/BulkSMS/EditList",
                success: function (response) {
                    $("#listName").val(response.listname);
                    $("#listNameId").val(response.listId);
                    $("#saveButton").val("Update");
                }
            });

        }

        function DeleteList(id, listName) {
            var a = listName.toString();
            $("#ListItemIdHidden").val("");
            $("#ListItemIdHidden").val(id);

            $("#GroupNameSapn").html("");
            $("#GroupNameSapn").append(a);

            $("#DeleteModalShow").modal("show");
            
        }

        function DeleteConfirm() {
            var listId = $("#ListItemIdHidden").val();
            //alert(listId);
            if (listId != "") {
                $.ajax({
                    type: "POST",
                    url: "/BulkSMS/DeleteListNameAndNumber",
                    data: { id: listId },
                    success: function (response) {
                        $("#DeleteModalShow").modal("hide");
                        alert(response);
                        loadBulkSmsList();
                    }
                });
            }
        }

        function ClearFunc()
        {
            $("#listName").val("");
            $("#listNameId").val("");
            $("#saveButton").val("Submit");
        }
    </script>
}