﻿@model IEnumerable<SMSService.Models.BulkSMSListName>
@{
    ViewBag.Title = "SMS Send";
    Layout = "~/Views/Shared/Sms_Layout.cshtml";
}
<style>
    .wrapper-content {
        padding: 10px 10px 10px;
    }

    .color {
        background-color: white;
        color: black;
    }
</style>
<!----------------------Loader Image------------------------------------>
<div style="z-index: 101; width: 100%; height: 100%; background-color: rgba(40, 30, 20, 0.4); position: absolute; text-align: center; display: none;" id="loaderImageDiv">
    <img style="width: 80px; position: absolute; z-index: 102; height: 80px; left: 40%; top: 35%;" src="~/Content/image/InternetSlowdown_Day.gif" />
</div>
<!------------------------------Menue Start--------------------------------->
<div style="width: 100%; margin:2px auto; " class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-right:6%;">
        <div class="col-md-7">
            <ol class="breadcrumb">
                <li>
                    <a>SMS</a>
                </li>
                <li class="active">
                    <b>Send SMS</b>
                </li>
            </ol>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>
<!------------------------------Menue End--------------------------------->
<!------------------------------Main Body Start--------------------------->
<div style="width: 85%; margin: 0 auto" class="wrapper wrapper-content animated fadeInRight">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="SingleSMS" class="btn btn-secondary" value="SingleSMS" onclick="SingleSms()">Single SMS</button>
        <button type="button" id="BulkSMS" class="btn btn-secondary" value="BulkSMS" onclick="BulkSms()">Bulk SMS</button>
        @*<a title="Click to open Search/Sort by time" class="btn btn-primary" onclick="DivToggle()"><i style="font-weight: bold; font-size: 15px;" class="fa fa-angle-down"></i></a>*@
    </div><br /><br /><hr />
    @*<div id="loadPartialDiv"></div>*@
    <div id="SuccessOrErrorMessageDiv" style="text-align: center;">
        <label id="successMassage" style="font-size: 20px;" class="label label-success">@TempData["successMassage"]</label>
        <label id="ErrorMassage" style="font-size: 20px;" class="label label-danger">@TempData["ErrorMassage"]</label>
    </div>
    @using (Html.BeginForm("SingleSmsEntry", "BulkSMS", FormMethod.Post, new { id = "singleSmsForm" }))
    {
        <!--Single Sms-->
        <div class="form-horizontal well" id="singleSmsDiv" style="display: none;">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row form-group">
                        <input id="sMobNumber" type="number" class="form-control" name="sMobileNumber" placeholder="Enter Mobile Number"/>
                    </div>
                    <div class="row form-group">
                        <textarea name="sMessage" placeholder="Write Your Message Here" rows="10" id="sMessage" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnSendSS" class="btn btn-primary" title="Send"><i class="glyphicon glyphicon-send"></i></button>
                        <a class="btn btn-default" title="Refresh" onclick="ClearSingleSMSInputbox()"><i class="fa fa-refresh"></i> </a>
                     </div>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>

        
    }



    <!--Bulk Sms-->
@using (Html.BeginForm("BulkSmsEntry", "BulkSMS", FormMethod.Post, new { id = "BulkSMSEntry" }))
{
    <div>
        <div class="form-horizontal" id="BulkSmsDiv" style="display: none;">
            <div class="row well">
                <div class="col-md-4"><label class="pull-right">Select List</label> </div>
                <div class="col-md-4">
                    @Html.DropDownList("SmsListId", new SelectList(ViewBag.BSList, "ListNameID", "ListName"), "--Select List--", new {@class = "form-control", @onchange = "BulksmsListOnChange()"})
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="display: none" id="sumbitBtn">
                <div class="row well">
                    <div id="showSMSList" class="row col-md-12"></div>
                    <input id="hiddenSmsListArryId" type="hidden" name="smsListArryHidden" />
                </div>
                <div class="row well" id="btnSendBS">
                    <label class="col-md-2">Message</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="bMessage" rows="10" name="bulkMessageBody" placeholder="Write Message Here"></textarea><br/>
                        <button class="btn btn-primary pull-right" title="Send"><i class="glyphicon glyphicon-send"></i></button>
                        <a class="btn btn-default pull-right" title="Refresh" onclick="ClearMultipleSMSInputbox()"><i class="fa fa-refresh"></i> </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
}
   
 


</div>

<!---------------------------------Script Start----------------------------------->

@section scriptsMenu{
    <script>

        $(document).ready(function () {

            if ($("#SendSMSMainMnue").length > 0) {
                $("#SendSMSMainMnue").addClass("active");
                $("#SendMSMS").attr("class", "active");

            }


        });

    </script>
}


@section scripts
{

    <script>

        $(document).ready(function () {
            $("#loaderImageDiv").hide();
            SingleSms();
        });

        function SingleSms() {
           
            $("#BulkSmsDiv").hide();
            $("#SingleSMS").addClass('color');
            $("#BulkSMS").removeClass('color');
            $("#singleSmsDiv").show();
        }

        function BulkSms() {
            $("#singleSmsDiv").hide();
            $("#SingleSMS").removeClass('color');
            $("#BulkSMS").addClass('color');
            $("#BulkSmsDiv").show();

        }

        $("#singleSmsForm").submit(function (e) {
            var sMobileNumber = $("#sMobNumber").val();
            var sMessage = $("#sMessage").val();
            if (sMobileNumber == "") {
                alert("Please Enter Mobile Number!");
                $("#sMobNumber").focus();
                e.preventDefault();


            } else if (sMessage == "") {
                alert("Please Write Message!");
                $("#sMessage").focus();
                e.preventDefault();

            }
        });

        $("#BulkSMSEntry").submit(function (e) {
            var ListArryId = $("#hiddenSmsListArryId").val();
            var bMessage = $("#bMessage").val();
            if (ListArryId == "") {
                alert("Please Select List");
                $("#SmsListId").focus();
                e.preventDefault();


            } else if (bMessage == "") {
                alert("Please Write Message!");
                $("#bMessage").focus();
                e.preventDefault();

            }
        });
        

        $("#SuccessOrErrorMessageDiv").toggle(3000);


        //======================================SMS List Dropdown On Change=========================
        var SmsListArry = [];
        function BulksmsListOnChange(parameters) {
            var listId = $("#SmsListId").val();
            var listName = $("#SmsListId option:selected").text();
            SmsListArrayInsert(listId, listName);

        }
        //=======================================
        function SmsListArrayInsert(listId, listName) {
            var flag = 0;
            if (SmsListArry != "") {

                for (var i = 0; i < SmsListArry.length; i++) {
                    if (SmsListArry[i].Id == listId) {
                        SmsListArry[i].Name = listName;
                        flag++;
                        break;

                    } else {
                        continue;
                    }

                }

                if (flag == 0) {
                    SmsListArry.push({
                        "Name": listName,
                        "Id": listId


                    });
                }


            } else {
                SmsListArry.push({
                    "Name": listName,
                    "Id": listId
                });
            }

            SmsListArrayResult();
        }

        function SmsListArrayResult() {
            var content = "";
            for (var i = 0; i < SmsListArry.length; i++) {
                var j = i + 1;
                content += '<div style="width:25%; text-align: center; float: left; margin:3px;"class="alert alert-dismissible btn-primary">' +
                            '<label class="pull-left label label-success">' + j + '</label>' +
                            '<span style="font-size: 14px;">' + SmsListArry[i].Name + '</span>' +
                            '<a onclick="DeleteSmsListArry(' + i + ')" class="close" data-dismiss="alert">&times;</a>' +
                            '<input id="" type="hidden" name="" value="' + SmsListArry[i].Id + '"/>' +
                         '</div>';
            }
            $("#showSMSList").html("");
            $("#showSMSList").append(content);
            //$("#searchinputbox").val("");

            var bp = JSON.stringify(SmsListArry);

            $("#hiddenSmsListArryId").val("");
            $("#hiddenSmsListArryId").val(bp);

            if (SmsListArry != "") {
                $("#sumbitBtn").show();
            }
            else {
                $("#sumbitBtn").hide();
            }
        }

        function DeleteSmsListArry(index) {
            SmsListArry.splice(index, 1);
            SmsListArrayResult();

        }

        function ClearSingleSMSInputbox() {
            $("#sMobNumber").val("");
            $("#sMessage").val("");
            
            
            
        }
        function ClearMultipleSMSInputbox() {

            $("#showSMSList").html("");
            $("#bMessage").val("");
            $("#SmsListId").val("");
           SmsListArry = [];
           SmsListArrayResult();
        }

        $("#singleSmsForm").submit(function() {
            $("#loaderImageDiv").show();
        });
        $("#BulkSMSEntry").submit(function () {
            $("#loaderImageDiv").show();
        });

    </script>
}