﻿
@{
    ViewBag.Title = "List Show";
    Layout = "~/Views/Shared/Sms_Layout.cshtml";
}
<style>
    .wrapper-content {
        padding: 10px 10px 10px;
    }

    .color {
        background-color: white;
        color: black;
    }
</style>
<!----------------------Loader Image------------------------------------>
<div style="z-index: 101; width: 100%; height: 100%; background-color: rgba(40, 30, 20, 0.4); position: absolute; text-align: center; display: none;" id="loaderImageDiv">
    <img style="width: 80px; position: absolute; z-index: 102; height: 80px; left: 40%; top: 35%;" src="~/Content/image/InternetSlowdown_Day.gif" />
</div>
<!------------------------------Menue Start--------------------------------->
<div style="width: 100%; margin:2px auto; " class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-right:6%;">
        <div class="col-md-7">
            <ol class="breadcrumb">
                <li>
                    <a>Send SMS</a>
                </li>
                <li class="active">
                    <b>Send SMS List</b>
                </li>
            </ol>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>
<!------------------------------Menue End--------------------------------->
<!------------------------------Main Body Start--------------------------->
<div style="width: 90%; margin: 0 auto" class="wrapper wrapper-content animated fadeInRight">
    <div style="width: 85%; margin: 0 auto">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="sentBtn" class="btn btn-secondary" value="Sent" onclick="SentList(2)">Sent</button>
            <button type="button" id="notSentBtn" class="btn btn-secondary" value="NotSent" onclick="NotSentList(1)">Pending</button>
            <button type="button" id="errorBtn" class="btn btn-secondary" value="Error" onclick="ErrorList(3)">NotSent</button>
            <a title="Click to open Search/Sort by time" class="btn btn-primary" onclick="DivToggle()"><i style="font-weight: bold; font-size: 15px;" class="fa fa-angle-down"></i></a>
        </div><br /><br />
        <div class="row well" id="Filtersearchdiv" style="display: none">
            <div class="col-md-12">

                <div class="form-group">
                    <label class="control-label col-md-1">From</label>
                    <div class="col-md-5">
                        <input type="date" id="formDate" class="form-control" name="formDate" onchange="checkDate()" />
                    </div>
                    <label class="control-label col-md-1" style="text-align: left">To</label>
                    <div class="input-group col-md-5">
                        <input type="date" id="toDate" class="form-control" name="toDate" value="" onchange="validateCheck()" />
                        <div class="input-group-btn">
                            <a id="searchbtn" class="btn btn-primary" onclick="SearchFunc()"><i class="fa fa-search"></i></a> &nbsp;

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="SuccessOrErrorMessageDiv" style="text-align: center;">
        <label id="successMassage" style="font-size: 20px;" class="label label-success">@TempData["successMassage"]</label>
        <label id="ErrorMassage" style="font-size: 20px;" class="label label-danger">@TempData["ErrorMassage"]</label>
    </div>
    <div style="overflow-y: auto;" id="loadPartialDiv"></div>

</div>
<!--Modal Start-->

<div class="modal fade" id="DeleteModalShow" role="dialog">
    <div style="border-radius: 10px; width:50%;" class="modal-dialog modal-md">
        <div style="background-color: white;" class="modal-content">
            <div class="modal-header">
                <label style="font-size: 20px;" id="ModalTitle"></label>
                <a href="#" data-dismiss="modal" class="pull-right" style="color: #dcdcdc;"><i class="fa fa-times"></i></a>
            </div>
            <div class="modal-body">
                <input type="hidden" id="SendSmsIdHidden" />
                <span style="font-size: 18px; font-weight: bold; color: red;">Are you sure to delete this Mobile Number "<span id="MobileNumberSapn" style="color: black;"></span>" from List?</span>
            </div>
            <div class="modal-footer">
                <a onclick="DeleteConfirm()" class="btn btn-warning">OK</a>
                <a href="#" data-dismiss="modal" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!---------------------------------Script Start----------------------------------->
@section scriptsMenu{
    <script>

        $(document).ready(function () {

            if ($("#SMSSendingProcessMainMnue").length > 0) {
                $("#SMSSendingProcessMainMnue").addClass("active");
                $("#SendSMSProcessSubmnue").attr("class", "active");

            }

        });

    </script>
}


@section scripts
{

    <script>

        $(document).ready(function () {
            SentList(2, "", "");
        });
        var StatusId = "";
        function checkDate() {
            var formdate = $("#formDate").val();
            var dt = new Date();
            var dt1 = new Date(formdate);
            var today = (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
            var fDate = (dt1.getMonth() + 1) + "/" + dt1.getDate() + "/" + dt1.getFullYear();
            
            if ((new Date(fDate) > new Date(today))) {
                alert("Future date not acceptable!");
                $("#formDate").val(today);
            }
            //if (formdate > today) {
            //    alert("Future date not acceptable!");
            //    $("#formDate").val(today);
            //}
        }

        function validateCheck(e) {
            var formDate = $("#formDate").val();
            var toDate = $("#toDate").val();
            //if (formDate > toDate)
            if ((new Date(formDate).getTime() > new Date(toDate).getTime())) {
                alert("To Date can not be less than Form Date");
                var dt = new Date();
                var pDate = (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                $("#toDate").val(pDate);
            }

        }

        function NotSentList(isSend) {
            SentList(isSend);
        }

        function ErrorList(isSend) {
            SentList(isSend);
        }


        function SentList(isSend, fromDate, toDate) {

            StatusId = "";
            StatusId = isSend;
            //alert(StatusId);
            $("#loaderImageDiv").show();
            $("#loadPartialDiv").html("");
            $.ajax({
                type: 'GET',
                url: "/BulkSMS/SmsListPartial",
                data: { isSend: isSend, fromDate: fromDate, toDate: toDate },
                success: function (response) {
                    if (isSend == 1) {
                        $("#errorBtn").removeClass('color');
                        $("#notSentBtn").addClass('color');
                        $("#sentBtn").removeClass('color');
                    }
                    if (isSend == 2) {
                        $("#errorBtn").removeClass('color');
                        $("#notSentBtn").removeClass('color');
                        $("#sentBtn").addClass('color');
                    }
                    if (isSend == 3) {
                        $("#errorBtn").addClass('color');
                        $("#notSentBtn").removeClass('color');
                        $("#sentBtn").removeClass('color');
                    }
                    $("#loaderImageDiv").hide();
                    $("#loadPartialDiv").append(response);
                }

            });
        }

        //$(function () {
        //    $(".Datepicker").datepicker({
        //        todayBtn: true,
        //        clearBtn: true,
        //        autoclose: true,
        //        todayHighlight: true,
        //        toggleActive: true
        //    });
        //});

        function ResendFunc(id) {
            $("#loaderImageDiv").show();
            $.ajax({
                type: "POST",
                url: "/BulkSMS/ResendSms",
                data: { id: id },
                success: function (data) {
                    if (data == "True") {
                        $("#loaderImageDiv").hide();
                        ErrorList(3);
                    }

                }
            });
        }
        
        function DivToggle() {
            //$("#SearchItem").val("");
            $("#formDate").val("");
            $("#toDate").val("");
            $("#Filtersearchdiv").slideToggle(1000);
        };
        $("#SuccessOrErrorMessageDiv").toggle(3000);


        function SearchFunc(e) {
            var formDate = $("#formDate").val();
            var toDate = $("#toDate").val();
            if (formDate == "") {
                $("#formDate").focus();
                alert("please provide From date");
                e.preventDefault();
            }
            if (toDate == "") {
                $("#toDate").focus();
                alert("please provide Todate");
                e.preventDefault();
            }

            SentList(StatusId, formDate, toDate);
        }

        function DeleteFunc(id, mobileNumber) {
            var a = mobileNumber.toString();
            $("#SendSmsIdHidden").val("");
            $("#SendSmsIdHidden").val(id);

            $("#MobileNumberSapn").html("");
            $("#MobileNumberSapn").append(a);

            $("#DeleteModalShow").modal("show");

        }

        function DeleteConfirm() {
            var SendSmsId = $("#SendSmsIdHidden").val();
            //alert(listId);
            if (SendSmsId != "") {
                $.ajax({
                    type: "POST",
                    data: { id: SendSmsId },
                    url: "/BulkSMS/ErrorDeleteData",
                    success: function (data) {
                        if (data == "True") {
                            $("#DeleteModalShow").modal("hide");
                            alert("Mobile Number & Message Deleted Succcessfully.");
                            ErrorList(3);
                        }
                    }
                });
            }
        }


    </script>

}
