﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link href="~/css/bootstrap.min.css" rel="stylesheet" />*@
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet"/>
    <!--Data Table CSS-->
    <link href="~/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/DataTables-1.10.18/css/shCore.css" rel="stylesheet" />
    <link href="~/DataTables-1.10.18/css/demo.css" rel="stylesheet" />
    <!--Data Table CSS End-->
   
    <style>
        .navbar-form-custom {
            width: 300px;
        }
        a.Omnifooter:hover, a.Omnifooter:active {font-size: 150%;}
    </style>
</head>
<body class="">
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <div style="margin: 0 auto;" class="text-center">
                                <img alt="image" class="img-circle" src="/img/omnisms.jpeg" height="90" width="90" />
                            </div>
                            @*<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold">Omni SMS Service</strong>
                                        </span>
                                        <span class="text-muted text-xs block">Admin <b class="caret"></b></span>
                                    </span>
                                </a>*@
                            @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="#/">Profile</a></li>
                                    <li><a href="#/">Contacts</a></li>
                                    <li><a href="#/" >Mailbox</a></li>
                                    <li class="divider">

                                    </li>
                                    <li>
                                        <a href="#/" class="btn btn-default btn-flat">Switch Module</a>
                                    </li>
                                    <li>
                                        <a href="#/" class="btn btn-default btn-flat">Logout</a>

                                    </li>
                                </ul>*@
                        </div>
                        <div class="logo-element">
                            OMNI
                        </div>
                    </li>


                    <li style="text-align: center; text-transform: uppercase; color: white;">
                        @*<a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>*@
                        <label>Omni SMS Managemnt</label>
                    </li>
                    <li class="divider"></li>

                    <li id="SMSDashboardMainMune">
                        <a href="#/"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li id="SMSDashboardSubMune">
                                <a href=@Url.Action("MainDashboard", "Home")><i class="glyphicon glyphicon-dashboard"></i> Main Dashboard</a>
                            </li>
                            <li><a href="#/"><i class="glyphicon glyphicon-dashboard"></i>New Dashboard</a></li>
                        </ul>
                    </li>

                    <li id="GroupSMSMainMenu">
                        <a href=""><i class="fa fa-cog"></i> <span class="nav-label">Group Setup</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li id="AddGroupNameSubmnue">
                                <a class="active" href=@Url.Action("BulkSmsList", "BulkSMS", new {Area = ""})>
                                    <i class="fa fa-plus"></i> <span class="nav-label">Add Group Name</span>
                                </a>
                            </li>
                            <li id="AddFileSubmnue">
                                <a class="active" href=@Url.Action("BulkSMSNumbers", "BulkSMS", new {Area = ""})>
                                    <i class="fa fa-users"></i> <span class="nav-label">Add File & Number</span>
                                </a>
                            </li>

                            <li id="GroupNamewiseListSubmnue">
                                <a class="active" href=@Url.Action("GroupNamewiseList", "GroupList", new {Area = ""})>
                                    <i class="fa fa-list"></i> <span class="nav-label">Group List</span>
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li id="SendSMSMainMnue">
                        <a href=""><i class="fa fa-send"></i> <span class="nav-label">Send SMS</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li id="SendMSMS">
                                <a class="active" href=@Url.Action("SendSMS", "BulkSMS", new {Area = ""})>
                                    <i class="fa fa-envelope"></i> <span class="nav-label">Single/Group SMS</span>
                                </a>
                            </li>
                            <li id="">
                                <a class="active" href="#/"@*@Url.Action("", "BulkSMS", new {Area = ""})*@>
                                    <i class="fa fa-university"></i> <span class="nav-label">Submnue</span>
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li id="SMSSendingProcessMainMnue">
                        <a href=""><i class="fa fa-cogs"></i> <span class="nav-label">Processing</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li id="SendSMSProcessSubmnue">
                                <a class="active" href=@Url.Action("SmsList", "BulkSMS", new { Area = "" })>
                                    <i class="fa fa-envelope"></i> <span class="nav-label">SMS Process</span>
                                </a>
                            </li>
                            <li id="">
                                <a class="active" href="#/"@*@Url.Action("", "BulkSMS", new {Area = ""})*@>
                                    <i class="fa fa-university"></i> <span class="nav-label">Submnue</span>
                                </a>
                            </li>


                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom">
                            <div class="form-group">
                                <p style="margin-top: 14px;margin-left: 10px;font-size:20px;">SMS Management</p>
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="@Url.Action("MainDashboard","Home")" title="Home"><i class="fa fa-home"></i></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="empty_page.html#">
                                <i class="fa fa-envelope"></i>  <span class="label label-warning">0</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46h ago</small>
                                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">5h ago</small>
                                            <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/profile.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right">23h ago</small>
                                            <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="empty_page.html#">
                                <i class="fa fa-bell"></i>
                                <span class="label label-primary">0</span>
                            </a>
                            <ul style="width:1000%;" class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="@Url.Action("", "")">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> You have 0 New Notifications !
                                            <span class="pull-right text-muted small"></span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("", "")">
                                        <div style="font-size:12px;">
                                            <i class="fa fa-circle-o text-aqua"></i>SubjectText
                                            <span class="pull-right text-muted small">--Date</span>
                                        </div>
                                    </a>
                                </li>

                                <li style="text-align:center">
                                    <div class="">
                                        <a href="@Url.Action("", "",new {Area = ""})">
                                            <strong>See All </strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li>

                            <a href="@Url.Action("", "", new {Area = ""})"><i class="fa fa-sign-out"></i> Log out</a>

                        </li>
                    </ul>
                </nav>
            </div>




            <div class="row wrapper border-bottom white-bg page-heading">
                <!--nave bar-->


                @RenderBody()
                <!----------Rendar body-->
                <!----------- <h1>Rander Body here</h1>----------->

            </div>


            <div class="footer">
                <div class="pull-right">

                </div>
                <div>
                    <strong>Copyright</strong> <a href="http://www.omnisolutionsbd.com/" target="_blank" class="Omnifooter">Omni solutions Limited</a> &copy; @DateTime.Now.Year
                </div>
            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <script src="~/Scripts/jquery-ui.js"></script>


    @RenderSection("scriptsMenu", required: false)
    <!--Data Table-->
    <script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/DataTables-1.10.18/js/shCore.js"></script>
    <script src="~/DataTables-1.10.18/js/demo.js"></script>
    <!--Data Table End-->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.metisMenu.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>


    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/inspinia.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/pace.min.js"></script>

    <script>
        //$(document).ready(function () {
        //    loadImage();
        //});


        //function loadImage() {
        //    $("#image3").attr("src", "data:image/jpg;base64," + sessionStorage.userImage);
        //    $("#image2").attr("src", "data:image/jpg;base64," + sessionStorage.userImage);
        //    $("#image4").attr("src", "data:image/jpg;base64," + sessionStorage.userImage);
        //    $("#EmpName").text(sessionStorage.EmployeeName);
        //    $("#EmpName2").text(sessionStorage.EmployeeName);
        //    $("#EmpDesination").text(sessionStorage.Designation);
        //}


    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
