﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>
    Text messaging is a feature and service available on a wide variety of phones that use your phone's signal to send text data through the phone towers to another phone. Text messaging is typically available only if you have purchased a plan from your cellphone provider, but you can send text messages to any other phone in the country, or even in the world if they have a compatible carrier, as well as wireless devices and email addresses. There are multiple ways you can test your phone to see if its text messaging function is working.
</p>
<p>
    Step
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.

    se a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received
</p>
<p>
    Step
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.

    se a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received
</p>
<p>
    Step
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.

    se a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received
</p>
<p>
    Step
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.

    se a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received
</p>
<p>
    Step
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.

    se a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received
</p>
<p>
    Step
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.

    se a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received
</p>
<p>
    Step
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.

    se a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received
</p>
<p>
    Step
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.

    se a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received
</p>
<p>
    Step
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.
    Use a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received.

    se a free online text message site such as SMSEverywhere, Mobile-Sender or SendSNSNow (see Resources). Use one of these sites to send a text message to your phone by typing in your cellphone number (check its directions for how to format it), selecting your carrier, then typing in your message. The text message should not take too long to arrive to your phone, and your phone should notify you when it is received
</p>