﻿
@{
    ViewBag.Title = "Main Dashboard";
    Layout = "~/Views/Shared/Sms_Layout.cshtml";
}
<div style="z-index: 101; width: 100%; height: 100%; background-color: rgba(40, 30, 20, 0.4); position: absolute; text-align: center; display: none;" id="loaderImageDiv">
    <img style="width: 80px; position: absolute; z-index: 102; height: 80px; left: 40%; top: 35%;" src="~/Areas/TaskManagement/Content/image/InternetSlowdown_Day.gif" />
</div>

<div style="width:100%; margin:auto; padding:20px 10px 40px">
    <div class="row" style="margin-right:6%">
        <div class="col-md-7">
            <ol class="breadcrumb">
                <li>
                    <a href="#/">SMS Service</a>
                </li>
                <li class="active">
                    <strong>Dashboard</strong>
                </li>
            </ol>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
<div style="width:95%; margin: auto;">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("SmsList","BulkSMS")">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-md-6">
                                    <p class="announcement-heading well card"><span class="badge" id="totalSent" style="font-size: 25px; font-weight: bold;"></span></p>
                                    <p class="announcement-text" style="font-size: 17px; font-weight: bold;">Total Sent</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("SmsList","BulkSMS")">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-refresh fa-5x"></i>
                                </div>
                                <div class="col-md-6">
                                    <p class="announcement-heading well card"><span class="badge" id="totalNotSent" style="font-size: 25px; font-weight: bold;"></span></p>
                                    <p class="announcement" style="font-size: 17px; font-weight: bold;">Total Pending</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("SmsList","BulkSMS")">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-user-times fa-5x"></i>
                                </div>
                                <div class="col-md-6">
                                    <p class="announcement-heading well card"><span class="badge" id="totalError" style="font-size: 25px; font-weight: bold;"></span></p>
                                    <p class="announcement-text" style="font-size: 17px; font-weight: bold;">Total Not Sent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            @*<div class="col-md-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-user-times fa-5x"></i>
                                </div>
                                <div class="col-md-6">
                                    <p class="announcement-heading well card"><span class="badge" style="font-size: 25px; font-weight: bold;">@Model.ToatalAbsant</span></p>
                                    <p class="announcement-heading well card"><span class="badge" style="font-size: 25px; font-weight: bold;">@(Model.TotalActiveEmployee - (Model.TotalPresent + Model.TotalLate))</span></p>
                                    <p class="announcement-text" style="font-size: 17px;font-weight: bold;">Total Absent Employees</p>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                                <div class="panel-footer announcement-bottom">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Expand
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                </div>*@
        </div><!-- /.row -->
    </div>
    <!-- Partial View load here -->
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Last Sent Mobile Number & Message</label>
                        <div class="row">
                            <div style="height: 300px; width: 100%; overflow: auto;">
                                <div style="margin-left:41%; margin-top: 18%;display:none" id="OnleaveEmplyeeLoderImgDiv">
                                    <img width="80" height="80" src="~/Content/img/InternetSlowdown_Day.gif" />
                                </div>
                                <div id="lastSentSmsInfo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <label>Group & Contact Number</label>
                        <div class="row">
                            <div style="height: 300px; width: 100%; overflow: auto;">
                                <div style="margin-left: 43%; margin-top: 18%; display: none" id="MonthlyLodarImgDiv">
                                    <img width="80" height="80" src="~/Content/img/InternetSlowdown_Day.gif" />
                                </div>
                                <div id="listNameInfo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section scriptsMenu{
    <script>

        $(document).ready(function () {

            if ($("#SMSDashboardMainMune").length > 0) {
                $("#SMSDashboardMainMune").addClass("active");
                $("#SMSDashboardSubMune").attr("class", "active");

            }


        });

    </script>
}

@section scripts{

    <script>
        $(document).ready(function () {
            LoadAllData();
        });


        var lastSmsContent = '<div class="col-md-4">' +
            '<label class="col-md-4">Mobile Number</label>' +
            '<div class="col-md-8">' +
            '<input id="mobNum" readonly="readonly" />' +
            '</div>' +
            '</div>' +
            '<div class="col-md-4">' + adfdf + '</div><div class="col-md-4">' + dfda + '</div>';


        function LoadAllData() {
            var content;
            $.ajax({
                type: "GET",
                url: "/Home/SmsDashboard",
                //data: { formDate: formDate, toDate: toDate, RPRRID: RPRRID },
                success: function (response) {
                    //alert(response);
                    //var data = JSON.stringify(response);
                    //var data1 = JSON.stringify(response.GroupList);
                    content = '<table class="table table-responsive table-bordered"><tr style="background-color:white; color:Black;font-weight: bolder;"><th>#</th><th>Group Name</th><th>Total Contact Number</th></tr>';
                    for (var i = 0; i < response.GroupList.length; i++) {
                        content += '<tr style="font-weight: bolder;"><td>' + (i + 1) + '</td><td>' + response.GroupList[i].ListNames + '</td><td>' + response.GroupList[i].TotalMobileNumbers + '</td></tr>';

                    }
                    content += '</table>';
                    //alert(content);
                    $("#listNameInfo").html("");
                    $("#listNameInfo").append(content);
                    //alert(data1);
                    $("#totalSent").html("");
                    $("#totalSent").append(response.TotalSentSms);
                    $("#totalNotSent").html("");
                    $("#totalNotSent").append(response.TotalNotSentSms);
                    $("#totalError").html("");
                    $("#totalError").append(response.TotalErrorSms);

                    $("#lastSentSmsInfo").html("");
                    $("#lastSentSmsInfo").append(lastSmsContent);
                    $("#mobNum").val("");
                    $("#mobNum").val(response.MobileNumber);


                }
            });
        }

        function CompayAndEmplyeeload() {
            $("#MonthlyLodarImgDiv").show();
            $("#LoadCompanyAndEmployeePartial").html("");

            $.ajax({
                type: "GET",
                url: "/HRM/Home/LoadEmployeeByCompany",
                //data: { formDate: formDate, toDate: toDate, RPRRID: RPRRID },
                success: function (response) {
                    //alert(response);

                    $("#LoadCompanyAndEmployeePartial").append(response);
                    $("#MonthlyLodarImgDiv").hide();
                }
            });
        }

    </script>
}